.btn-default{
	color: #ffffff;
	background-color: #272626!important;
}
.btn-default-block{
	color: #ffffff;
	background-color: #e60606!important;
	background-image: linear-gradient(310deg, #272626 0%, #e60606 50%);
}
.btn-default:hover {
	color: #ffffff;
	font-weight: 500;
}
.btn-white{
	color: #272626;
	background-color: #ffffff;
	outline: 0;
	-webkit-box-shadow: 0 2px 7px 0 rgba(0,0,0,0.18),0 2px 9px 0 rgba(0,0,0,0.15);
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.18),0 2px 9px 0 rgba(0,0,0,0.15);
}
button.close {
	font-size: 2.5rem !important;
}
button.close:hover, button.close:active{
	color: #e60606 !important;
	background-color: #ffffff !important;
} 

.black-text{
	color: #111111;
}

.md-form input:not([type]):focus:not([readonly]),.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),.md-form input[type="phone"]:not(.browser-default):focus:not([readonly]),.md-form input[type="search-md"]:focus:not([readonly]),.md-form textarea.md-textarea:focus:not([readonly])
{
	border-bottom:1px solid #272626 !important;
	-webkit-box-shadow:0 1px 0 0 #4285f4;
	box-shadow:0 1px 0 0 #e60606;
}
.md-form input:not([type]):focus:not([readonly])+label,.md-form input[type="text"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="password"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="email"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="url"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="time"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="date"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="tel"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="number"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="search"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="phone"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="search-md"]:focus:not([readonly])+label,.md-form textarea.md-textarea:focus:not([readonly])+label{
	color: #272626 !important;
}

.mb-20{
	margin-bottom: 20px;
}
.mt-20{
	margin-top: 20px;
}
.mtb-20{
	margin-top: 20px;
	margin-bottom: 20px;
}

.pt-32{
	padding-top: 32px;
}

.img-fluid{
	width: 100%;
}
.img-mini{
	border-radius: 14px;
	width: 80px;
	height: auto;
}

@media (min-width: 991px) {
	.modal-dialog-registration{
		max-width: 800px !important;
	}
}
@media (max-width: 991px) {
	modal-dialog-registration{
		max-width: 500px !important;
	}
}
.modal-dialog .form-elegant .btn i {
    color: #e60606 !important;
    font-size: 17px;
}
.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(247, 204, 204, 0.26), 0 4px 12px 0 rgba(234, 176, 176, 0.25);
    box-shadow: 0 2px 5px 0 rgba(247, 204, 204, 0.26), 0 4px 12px 0 rgba(234, 176, 176, 0.25);
}
.btn-rounded {
    border-radius: 10em;
}
.dark-grey-text {
    color: #4f4f4f !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.modal-title{
	font-size: 1.75rem;
}


/*how it works*/
.howitworks{
	  margin: 30px 0;
      background-color: #ffffff;
      min-height: 320px;
      color: #111;
      padding-top: 40px;
   }
.howitworks .section-title-mid{
	  margin: 10px 0;
      padding: 10px 0;
      text-align: center;
}
.howitworks .section-title-mid h4{
      font-size: 24px;
      font-weight: 600;  
      margin: 20px 0;
      color: #706f6f;
}
.howitworks .workbox {
	min-height: 220px;
	color: #111;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	background-color: #ffffff;
	text-align: center;
	padding: 30px;
	margin: 5px 0;
}
.howitworks .workbox img{
  height: 80px;
  padding-bottom: 20px;
}
.howitworks .workbox h5{
	  padding: 10px;
	  color: #111;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}
.howitworks .workbox p{
  padding: 10px;
  color: #111;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
/*how it works*/


/*celebrity profile*/
.celebrity-profile{
	position: relative;
	margin-top: 30px;
	box-sizing: border-box;
}
.celebrity-profile-container{
	color: #111111;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	border-radius: 20px;
	background-color: #ffffff;
	overflow: hidden;
	height: auto;
}
.celebrity-profile-container .row{
	margin-right: 0!important;
}
.celebrity-profile-container .about h3{
	font-size: 30px;
	font-weight: 600;
}
.celebrity-profile-container .about h5{
	font-size: 22px;
	font-weight: 500;
	padding-top: 6px;
}
.celebrity-profile-container .about p{
	font-size: 13px;
	font-weight: 400;
	padding-top: 6px;
}
.celebrity-profile-container .about h6{
	font-size: 18px;
	font-weight: 400;
	padding-top: 16px;
	margin-top: 10px;
}
.celebrity-profile-container .services{
	margin: 30px 0;
	position: relative;
}
.celebrity-profile-container .services h6{
	font-size: 18px;
	font-weight: 400;
	padding-top: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.celebrity-profile-container .services .service-btn{	
	padding-right: 0;
}
.celebrity-profile-container .services .service-btn a{
	width: 100%;	
	display: block;
	padding: 12px; 
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	border-radius: 10px;
	background-color: #272626;
	margin-bottom: 10px;
}
.celebrity-profile-container .services .service-btn a:hover, .celebrity-profile-container .services .service-btn a:active{
	background-color: #111111;
	box-shadow: 0 8px 12px rgba(2, 2, 2, 0.5);
}
.celebrity-profile-container .services .service-btn a span{
	display: table;
}
.celebrity-profile-container .services .service-btn a span.service-name{
	color: #ffffff;
	font-size: 22px;
	font-weight: 500;
}
.celebrity-profile-container .services .service-btn a:hover span.service-name, .celebrity-profile-container .services .service-btn a:active span.service-name{
	font-weight: 600;
}
.celebrity-profile-container .services .service-btn a span.service-price{
	font-size: 18px;
	font-weight: 700;
	color: #e60606;
}
.celebrity-profile-container .services .service-btn a span.service-time{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
}
.celebrity-profile-container .other-buttons {
	margin: 20px 0;
	position: relative;
}
.celebrity-profile-container .other-buttons .buttons{	
	padding-right: 0;
}
.celebrity-profile-container .other-buttons .buttons a{	
	width: 100%;	
	display: block;
	padding: 14px; 
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
}
.celebrity-profile-container .other-buttons .buttons a:hover{	
	font-weight: 600;
}
/*celebrity profile*/


/*reviews*/
.reviews{
	margin: 40px 0;
    background-color: #ffffff;
    color: #111;
    padding-top: 40px;
   }
.reviews .section-title-left{
	margin: 5px 0;
    padding: 3px 0;
    text-align: left;
}
.reviews .section-title-left h5{
    font-size: 20px;
    font-weight: 500;  
    margin: 12px 0;
    color: #706f6f;
}
.reviews .section-title-right{
	margin: 6px 0;
    padding: 5px 0;
    text-align: right;
}
.reviews .section-title-right h6{
    font-size: 13px;
    font-weight: 400;  
    margin: 4px 0;
    color: #706f6f;
}    
.reviews .review-box{
	width: 100%;
	min-height: 100px;
	color: #111;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	background-color: #ffffff;
	text-align: center;
	padding: 30px;
	margin: 5px 0;
}
/*reviews*/



/*book*/
.request{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
.request-container{
	color: #111111;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	border-radius: 20px;
	background-color: #ffffff;
	overflow: hidden;
	height: auto;
	padding: 30px;
	text-align: center;
}
.request-container .header{
	text-align: center;
}
.request-container .header h4{
	margin-top: 20px;
	padding: 6px;
	font-size: 23px;
	font-weight: 500;
	color: #706f6f;
}	
.request-container .booking-form {
	text-align: left;
	box-sizing:border-box;
	max-width: 460px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 10px;
}
.request-container .booking-form label.label{
	display: block;
  	position: relative;
  	margin: 2px 0;
  	padding: 2px 0;
}
.request-container .booking-form label.label h4{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #706f6f;
	margin: 3px 0;
  	padding: 2px 0;
}
.request-container .booking-form input[type=text], .request-container .booking-form input[type=email], .request-container .booking-form select, .request-container .booking-form textarea{
	line-height: 2.1;
	width: 100%;
	border-radius: 6px;
	border: 0;
	color: #272626;
	font-size: 16px;
	padding: 0 15px;
	background-color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 4px rgba(4, 4, 4, 0.37);
}
.request-container .booking-form input[type=text], .request-container .booking-form input[type=email], .request-container .booking-form select{
	height: 48px !important;
}
.request-container .booking-form div.occasion{
	margin-top: 10px;
}
button.btn-submit-form{
	line-height: 2.6;
	width: 100%;
	border-radius: 20px;
	border: 0;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	padding: 0 10px;
	background-color: #e60606;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: linear-gradient(315deg, #272626 0%, #e60606 64%);
}
/*book*/



/*Home */
.mg-inf{
	position: relative;
	border: 0;
	border-radius: 10px;
	overflow: hidden;
}
.mg-inf:hover{
	outline: 0;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.mg-inf .img-sr{
	height: 337px;
}
.mg-inf img, .mg-inf video{
	height: auto;
	width: 100%;
}
.mg-inf .info-short{
	position: absolute;
	width: 100%;
	overflow: hidden;
	bottom: -1px;
	text-align: left;
	background: rgba(38, 37, 37, 0.5);
	padding: 10px;
}
.mg-inf .info-short h3{
	font-size: 22px;
	color: #ffffff;
	font-weight: 500;
}
.mg-inf .info-short h5{
	font-size: 13px;
	color: #ffffff;
	font-weight: 400;
}
.mg-inf .info-short span{
	color: #e60606;
}
.mg-inf .price{
	position: absolute;
	top: 0;
	right: 0;
}
.mg-inf .price span{
	background: rgba(38, 37, 37, 0.7);
	padding: 5px;
	color: #e60606;
	font-size: 15px;
	font-weight: 700;
}
/*Home */




/*footer*/
footer ul.page-link-list {
	margin-top: 30px;
}	
footer ul.page-link-list li{
	display: inline;
}
footer ul.page-link-list li a {
    color: #6e6f70;
    font-size: 16px;
    margin-right: 13px;
}
footer ul.page-link-list li a:hover {
    color: #4a90e2;
}
footer h4{
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 500;
}
footer form {
	float: left;
}

footer img.icon{
	margin-bottom: 8px;
}

footer h6{
	font-size: 15px;
	font-weight: 400;
}
footer form.newsletter input{
	line-height: 3;
	width: 350px;
	max-width: 100%;
	height: 50px;
	border-radius: 26px;
	border: 0;
	color: #6e6f70;
	font-size: 16px;
	padding: 0 15px;
	background-color: #e2ebef;
}
footer form.newsletter button{
	line-height: 2;
	height: 50px;
	font-size: 24px;
}
/*footer*/
