.ecommerce_product img, .music_genre img {
    width: auto;
}

section .content-body {
	overflow: hidden;
}
.select2-container {
	width: 100% !important;
} 
  
.team-member.col .team-member-edit {
    position: absolute;
    right: 5px;
    top: 8px;
}
.team-member{
	border: 1px solid #eaeaea;
}
.uk-nestable-item{
	background: transparent;
}

.icon-square-o{
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px !important;
	padding: 8px !important;
	font-size: 18px !important;
	color: #ffffff;
}

.uk-nestable-item .uk-nestable-handle {
    background: #eeeeee;
    position: absolute;
    z-index: 9999;
}
